FUSE_ZONE_ID=cam-1
FUSE_ZONE_NAME=Lobby Camera
FUSE_ZONE_FLOOR=Ground
FUSE_SOURCE=http://192.168.1.50:81/stream
FUSE_SENSORS=flame,gas,temp
FUSE_FLAME_SOURCE=vision
FUSE_MCU=ESP32-CAM + Raspberry Pi
FUSE_CAM_MODEL=OV2640
FUSE_ACTUATORS=
